
.topbackground{
     background-image: url('/ing/topbackground.png');
     background-size: 100%;
     background-repeat: no-repeat;
     
        height: 632px;
}
.example{
     height: 100vh;
     background-color: blue;
}

.toggle-btn {
     position: fixed;
     margin: 1.4em;
     width: 40px;
     height: 12px;
    right: 215px;
    top: 23px;
     z-index: 1049;
     cursor: pointer;
}

span.one {
     position: absolute;
     width: 40px;
     height: 2px;
     background: black;
}

span.two {
     position: absolute;
     width: 40px;
     height: 2px;
     background: black;
     margin-top: 12px;
}
span.three {
     position: absolute;
     width: 40px;
     height: 2px;
     background: black;
     margin-top: 24px;
}

span.one1 {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #fff;
}

span.two2 {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #fff;
     margin-top: 12px;
}
span.three3 {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #fff;
     margin-top: 24px;
}


.menu {
  z-index: 999;
  position: fixed;
  background: white;
  height: 100vh;
  width: 345px;
  right: 0;
   top: -102%;
}

.data {
     padding: 8em 0 0 2em;
     text-align: left;
}

ul {
     list-style: none;
}

li:first-child {
     color: grey;
     font-family: Poppins;
     font-size: 24px;
}

li:not(:first-child) {
     color: #fff;
     font-size: 18px;
}

a {
     text-decoration: none;
     color: black;
     font-family: Poppins;
}
.navbar{
    height: 120px;
}

.baggroundtree{
    background: url('../ing/Baggrundtree.png');
       background-size: 100%;
}

.baggroundtree2{
  background:url(../ing/baggrundtree.png);
  background-size: 100%;

}


html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#carousel {
    overflow: hidden;
    height: 465px;
    top: 35%;
    transform: translateY(0%);
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
}
#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 22%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.prev img {
  width: 400px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 8%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  top: 0%;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 78%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next img {
  width: 400px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 92%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

main {
height: auto;
}




#carousel2 {
    overflow: hidden;
    height: 465px;
    top: 35%;
    transform: translateY(0%);
}
#carousel2 div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel2 div img {
  width: 400px;
  transition: width 1s;
}
#carousel2 div.hideLeft2 {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel2 div.hideLeft2 img {
  width: 200px;
}
#carousel2 div.hideRight2 {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel2 div.hideRight2 img {
  width: 200px;
}
#carousel2 div.prev2 {
  z-index: 5;
  left: 22%;
  transform: translateY(0px) translateX(-50%);
}
#carousel2 div.prev2 img {
  width: 400px;
}
#carousel2 div.prevLeftSecond2 {
  z-index: 4;
  left: 8%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0;
}
#carousel2 div.prevLeftSecond2 img {
  width: 200px;
}
#carousel2 div.selected2 {
  z-index: 10;
  top: 0%;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel2 div.next2 {
  z-index: 5;
  left: 78%;
  transform: translateY(0px) translateX(-50%);
}
#carousel2 div.next2 img {
  width: 400px;
}
#carousel2 div.nextRightSecond2 {
  z-index: 4;
  left: 92%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0;
}
#carousel2 div.nextRightSecond2 img {
  width: 200px;
}

.overlay{
    display: table;
    width: 100%;
    padding: 0;
    background: url('../ing/casestopback.png') top center no-repeat;
    background-size: cover;
}
.overlay2{
      display: table;
    width: 100%;
    padding: 0;
    background: url('../ing/kontaktos.png') top center no-repeat;
    background-size: cover;
}
.overlay3{
      display: table;
    width: 100%;
    padding: 0;
    background: url('../ing/videobackground.png') top center no-repeat;
    background-size: cover;
}

.overlay4{
      display: table;
    width: 100%;
    padding: 0;
    background: url('../ing/nyhedsbrev.png') top center no-repeat;
    background-size: cover;
}
.casesoverlay{
    display: table;
    width: 100%;
    padding: 0;
    background: url('../ing/topbackcases.png') top center no-repeat;
    background-size: cover;
}

.productoverlay{
      display: table;
    width: 100%;
    padding: 0;
    background: url('../ing/product/topback.png') top center no-repeat;
    background-size: cover;
}
li.active.carousel-point {
    padding: 8px;
    border-radius: 15px;
}

li.carousel-point {
    padding: 8px;
    border-radius: 15px;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
        background-color: rgba(148, 133, 133, 0.5);
}

.treepad{
  padding: 30px 0px 30px 0px;
}

@media (max-width: 576px){
.treepad {
  padding: 15px;
}
}

.videoback{
  height: 800px;
  text-align: center;
  position: relative;
}

.playbutton{
    position: absolute;
    top: 40%;
}
.ownerback{
  height: auto;
  text-align: center;
      margin-top: 50px;
    margin-bottom: 50px;

}

.ownertext{
      padding-right: 250px;
    padding-left: 250px;
}

.ownerhover{
  opacity: 0.7;
}
.ownerhover:hover{
  opacity: 1;
}

.newsback{
    height: auto;
    text-align: center;
    margin-top: 115px;
    margin-bottom: 300px;
}

input[type="email"]::-webkit-input-placeholder {
color: black !important;
}


.jfooter{
  background:url('../ing/footerback.png');
  position: relative;
  height: 360px;
}
.overlayfooter{
background:url('../ing/base.png');
}

.carhover:hover .caroonhover{
  
  opacity: 1;
  
}

.caroonhover{
      height: 100px;
          text-align: center;
    width: 100px;
    background-color: black;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -81px;
    border-radius: 50px;
    opacity: 0;
    transition: 0.3s;
    
}
.carhovercases:hover .caroonhovercases{
  
  opacity: 1;
  
}
.casesimg{
  margin-bottom: 30px;
}

.caroonhovercases{
    height: 100px;
    text-align: center;
    width: 100px;
    background-color: black;
    left: 50%;
    top: 70%;
    margin-left: -50px;
    margin-top: -81px;
    border-radius: 50px;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
  
}





/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    .kontaktslide {padding-top: 1em;}
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
    .kontaktslide {padding-top: 2em;}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .kontaktslide {padding-top: 3em;}
}
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    .kontaktslide {padding-top: 4em;}
  }


@media (max-width: 768px) {  
    .btnkontakt {padding-top: 2em;}
  }

  @media (max-width: 992px) { 
    .ownertext {padding: 0;}
}



#custom-search-input{
    padding: 0px;
    border: solid 1px #E4E4E4;
    /* border-radius: 6px; */
    background-color: #fff;
}

#custom-search-input {
    border: 0;
    box-shadow: none;
}

#custom-search-input {
    width: 100%;
    height: 100%;
    /* margin: 2px 0 0 0; */
    background: black;
    /* box-shadow: none; */
    border-radius: 0;
    /* border: 0; */
    /* background-color: black; */
    /* padding: 0 8px 0 10px; */
    /* border-left: solid 1px #ccc; */
}



#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.btn-info{
  border-radius: 0;
  background-color: black;
    border-color: black;
}

.input-group.col-md-12{

  padding: 0;
  margin: 0;

}

input.form-control.input-lg {
border: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
input.form-control.input-lg{
color: black;
height: 55px;
font-size: 1.15em;
font-weight: 600;
}
.row.text-center.text-md-left.mt-3.pb-3 {

    padding-top: 114px;

}
  @media (max-width: 992px) { 
    .row.text-center.text-md-left.mt-3.pb-3 {padding-top: 45px;}
}


a.menua:hover {
  border:none;
  outline:none;
  text-decoration:none;
  color:#bc9e6b;
}

.menuli{
  border-bottom: 1px solid #e8e8e8; 
}
.ulmenu{
      margin: 0;
    padding: 48px 0 0 10px;
    width: 70%;
}
li.menuli {
      margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
}

img.searchicon{
      width: 22px;
    position: relative;
    top: 37%;
}


#carousel div img.searchicon  {
      width: 22px;
    position: relative;
    top: 37%;
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    .kontaktslide {padding-top: 1em;}
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
    .kontaktslide {padding-top: 2em;}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .kontaktslide {padding-top: 3em;}
}
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    .kontaktslide {padding-top: 4em;}
  }


@media (max-width: 768px) {  
    .btnkontakt {padding-top: 2em;}
  }

  @media (max-width: 992px) { 
    .ownertext {padding: 0;}
}



#custom-search-input{
    padding: 0px;
    border: solid 1px #E4E4E4;
    /* border-radius: 6px; */
    background-color: #fff;
}

#custom-search-input {
    border: 0;
    box-shadow: none;
}

#custom-search-input {
    width: 100%;
    height: 100%;
    /* margin: 2px 0 0 0; */
    background: black;
    /* box-shadow: none; */
    border-radius: 0;
    /* border: 0; */
    /* background-color: black; */
    /* padding: 0 8px 0 10px; */
    /* border-left: solid 1px #ccc; */
}



#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.btn-info{
  border-radius: 0;
  background-color: black;
    border-color: black;
}

.input-group.col-md-12{

  padding: 0;
  margin: 0;

}

input.form-control.input-lg {
border: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
input.form-control.input-lg{
color: black;
height: 55px;
font-size: 1.15em;
font-weight: 600;
}

/* Portfolio Section */
#portfolio {
  padding: 100px 0;
  background: #f6f6f6;
}
.categories {
  text-align: center;
}
ul.cat li {
  display: inline-block;
}
ol.type li {
  display: inline-block;
  margin: 0 10px 40px 10px;
}
ol.type li a {
  color: #555;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  border: 0;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s;
}
ol.type li a.active {
border-bottom: 1px solid black;
}
ol.type li a:hover {
  border-bottom: 1px solid black;

}
.isotope-item {
  z-index: 2
}
.isotope-hidden.isotope-item {
  z-index: 1
}
.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope-item {
  margin-right: -1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.isotope {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
.portfolio-item {
  margin: 15px 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 30% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text>h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}

.konceptbg{
  padding: 12px;
    height: 50px;
    background-color: black;
    position: absolute;
  
  bottom: 4%;
  left: 3%;
  }