
.topbackground{
     background-image: url('/ing/topbackground.png');
     background-size: 100%;
     background-repeat: no-repeat;
     
        height: 632px;
}
.example{
     height: 100vh;
     background-color: blue;
}

.toggle-btn {
     position: fixed;
     margin: 1.4em;
     padding: 1em;
     width: 40px;
     height: 12px;
    right: 45px;
    top: 23px;
     z-index: 1049;
     cursor: pointer;
}

span.one {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #fff;
}

span.two {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #fff;
     margin-top: 12px;
}
span.three {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #fff;
     margin-top: 24px;
}

.menu {
  z-index: 999;
     position: fixed;
     background: #101010;
     height: 100vh;
    width: 250px;
    right: 0;
     top: -102%;
}

.data {
     padding: 8em 0 0 2em;
     text-align: left;
}

ul {
     list-style: none;
}

li:first-child {
     color: grey;
     font-family: Poppins;
     font-size: 24px;
}

li:not(:first-child) {
     color: #fff;
     font-size: 42px;
}

a {
     text-decoration: none;
     color: #fff;
     font-family: Poppins;
}
.navbar{
    height: 120px;
}

.baggroundtree{
    background: url('../ing/Baggrundtree.png');
       background-size: 100%;
}

.baggroundtree2{
  background:url(../ing/baggrundtree.png);
  background-size: 100%;

}


html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#carousel {
    overflow: hidden;
    height: 465px;
    top: 35%;
    transform: translateY(0%);
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 22%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.prev img {
  width: 400px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 8%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  top: 0%;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 78%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next img {
  width: 400px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 92%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

main {
height: auto;
}




#carousel2 {
    overflow: hidden;
    height: 465px;
    top: 35%;
    transform: translateY(0%);
}
#carousel2 div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel2 div img {
  width: 400px;
  transition: width 1s;
}
#carousel2 div.hideLeft2 {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel2 div.hideLeft2 img {
  width: 200px;
}
#carousel2 div.hideRight2 {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel2 div.hideRight2 img {
  width: 200px;
}
#carousel2 div.prev2 {
  z-index: 5;
  left: 22%;
  transform: translateY(0px) translateX(-50%);
}
#carousel2 div.prev2 img {
  width: 400px;
}
#carousel2 div.prevLeftSecond2 {
  z-index: 4;
  left: 8%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0;
}
#carousel2 div.prevLeftSecond2 img {
  width: 200px;
}
#carousel2 div.selected2 {
  z-index: 10;
  top: 0%;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel2 div.next2 {
  z-index: 5;
  left: 78%;
  transform: translateY(0px) translateX(-50%);
}
#carousel2 div.next2 img {
  width: 400px;
}
#carousel2 div.nextRightSecond2 {
  z-index: 4;
  left: 92%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0;
}
#carousel2 div.nextRightSecond2 img {
  width: 200px;
}

.overlay{
    display: table;
    width: 100%;
    padding: 0;
    background: url('../ing/topbackground.png') top center no-repeat;
    background-size: cover;
}
.overlay2{
      display: table;
    width: 100%;
    padding: 0;
    background: url('../ing/kontaktos.png') top center no-repeat;
    background-size: cover;
}
.overlay3{
      display: table;
    width: 100%;
    padding: 0;
    background: url('../ing/videobackground.png') top center no-repeat;
    background-size: cover;
}

.overlay4{
      display: table;
    width: 100%;
    padding: 0;
    background: url('../ing/nyhedsbrev.png') top center no-repeat;
    background-size: cover;
}

li.active.carousel-point {
    padding: 8px;
    border-radius: 15px;
}

li.carousel-point {
    padding: 8px;
    border-radius: 15px;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
        background-color: rgba(148, 133, 133, 0.5);
}

.treepad{
  padding: 30px 0px 30px 0px;
}

@media (max-width: 576px){
.treepad {
  padding: 15px;
}
}

.videoback{
  height: 800px;
  text-align: center;
  position: relative;
}

.playbutton{
    position: absolute;
    top: 50%;
}
.ownerback{
  height: auto;
  text-align: center;
      margin-top: 50px;
    margin-bottom: 50px;

}

.ownertext{
      padding-right: 250px;
    padding-left: 250px;
}

.ownerhover{
  opacity: 0.7;
}
.ownerhover:hover{
  opacity: 1;
}

.newsback{
    height: auto;
    text-align: center;
    margin-top: 115px;
    margin-bottom: 300px;
}

input[type="email"]::-webkit-input-placeholder {
color: black !important;
}


.jfooter{
  background:url('../ing/footerback.png');
}